<!DOCTYPE html>
<html> 
<head>
    <title> Pegue aqui - {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="page-header" style="height: 10vh; display: flex; justify-content: space-around; align-items: center; margin-top: 5px; margin-bottom: -10px">
            <h1>Bem vindo ao Pegue aqui!</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="page-header" style="height: 10vh; display: flex; justify-content: space-around; align-items: center;">
            <a href={{url_for("cadusuario")}}>Cadastro de Usuário</a>
            <a href={{url_for("relCompras")}}>Relatório de Compras</a>
            <a href={{url_for("relVendas")}}>Relatório de Vendas</a>
            <a href={{url_for("anuncio")}}>Anúncios</a>
            <a href={{url_for("pergunta")}}>Perguntas</a>
            <a href={{url_for("categoria")}}>Categorias</a>
            <a href={{url_for("favoritos")}}>Favoritos</a>
            <a href={{url_for("logout")}}>Logout</a>
        </div>
    </div>

    <div class="container">
        <div class="page-header" style="height: 10vh; display: flex; justify-content: space-around; align-items: center; margin-top: 5px; margin-bottom: -10px">
            <h4> Cadastro de {{titulo}}</h4>
        </div>

        <form action="/anuncio/criar" method="post">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome">
            </div>

            <div class="form-group">
                <label for="desc">Descrição</label>
                <textarea rows="4" cols= "50" class="form-control" id="desc" name="desc"></textarea></p>
            </div>

            <div class="form-group">
                <label for="qtd">Quantidade</label>
                <input type="text" class="form-control" id="qtd" name="qtd">
            </div>

            <div class="form-group">
                <label for="preco">Preço</label>
                <input type="text" class="form-control" id="preco" name="preco">
            </div>

            <div class="form-group">
                <label for="cat">Categoria</label>
                <select class="form-control" id="cat" name="cat">
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <button type="submit" class="'btn btn-primary" style="margin-top: 10px;">Cadastrar</button>
        </form>
    </div>
    
    <div class="container">
        <div class="page-header" style="height: 20hv; display: flex; justify-content:space-around; align-items: center; margin-top: 5px; margin-bottom: 5px;">
            <h4>Lista de {{titulo}}</h4>
        </div>
        
        <table class="table table-striped table-responsive table-bordered" style="justify-content:center; align-items: center; margin-left: 10px; margin-right: 10px;">
            <thead class="thread-default">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Qtd</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for anuncio in anuncios %}
                    <tr>
                        <td>{{anuncio.nome}}</td>
                        <td>{{anuncio.desc}}</td>
                        <td>{{anuncio.qtd}}</td>
                        <td>{{anuncio.preco}}</td>
                        <td>{{anuncio.cat_id}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>