<!DOCTYPE html>
<html> 
<head>
    <title> Pegue aqui - {{titulo}}</title>
</head>

<body>
    <h1> Bem vindo ao Pegue aqui!</h1>
    <a href={{url_for("cadusuario")}}>Cadastro Usuário</a>
    <a href={{url_for("relCompras")}}>Relatório de Compras</a>
    <a href={{url_for("relVendas")}}>Relatório de Vendas</a>
    <a href={{url_for("anuncio")}}>Anúncios</a>
    <a href={{url_for("pergunta")}}>Perguntas</a>
    <a href={{url_for("categoria")}}>Categorias</a>
    <a href={{url_for("favoritos")}}>Favoritos</a>

    <h4>{{titulo}}</h4>
    <form action="/favoritos/criar" method="post">
            <p><label for="anu">Anuncio</label>
            <select id="anu" name="anu">
                {% for anuncio in anuncios %}
                    <option value="{{ anuncio.id }}">{{ anuncio.id }}</option>
                {% endfor %}
            </select></p>
    
            <p><label for="usu">Usuario</label>
            <input type="text" id="usu" name="usu"></p>
    
            <p><input type="submit" value="Favoritar"></p>
        </form>
    
        <h4>{{titulo}}</h4>
        <table>
            <thead>
                <tr>
                    <th>Anuncio</th>
                </tr>
            </thead>
            <tbody>
                {% for favoritos in favoritos %}
                    <tr>
                        <td>{{favorito.anu_id}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

</body>

</html>