<!DOCTYPE html>
<html> 
<head>
    <title> Pegue aqui - {{titulo}}</title>
</head>

<body>
    <h1> Bem vindo ao Pegue aqui!</h1>
    <a href={{url_for("usuario")}}>Cadastro Usuário</a>
    <a href={{url_for("relCompras")}}>Relatório de Compras</a>
    <a href={{url_for("relVendas")}}>Relatório de Vendas</a>
    <a href={{url_for("anuncios")}}>Anúncios</a>
    <a href={{url_for("pergunta")}}>Perguntas</a>
    <a href={{url_for("categoria")}}>Categorias</a>
    <a href={{url_for("favoritos")}}>Favoritos</a>

    <h4>{{titulo}}</h4>
    <h4>Perguntas realizadas nos anúncios</h4>
</body>

</html>