<!DOCTYPE html>
<html> 
<head>
    <title> Pegue aqui - {{titulo}}</title>
</head>

<body>
    <h1> Bem vindo ao Pegue aqui!</h1>
    <a href={{url_for("usuario")}}>Cadastro Usuário</a>
    <a href={{url_for("relCompras")}}>Relatório de Compras</a>
    <a href={{url_for("relVendas")}}>Relatório de Vendas</a>
    <a href={{url_for("anuncios")}}>Anúncios</a>
    <a href={{url_for("pergunta")}}>Perguntas</a>
    <a href={{url_for("categoria")}}>Categorias</a>
    <a href={{url_for("favoritos")}}>Favoritos</a>

    <h4>{{titulo}}</h4>
    <form action="caduser" method="post">
        <p><label for="user">Username</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="passwd">Senha</label></p>
        <p><input type="text" id="passwd" name="passwd"></p>

        <p><input type="submit" value="Cadastrar"></p>
    </form>
</body>

</html>
